/* ========================= DISPOSITIVOS MÓVEIS ======================== */

/* ========================= DISPOSITIVOS 768PX ======================== */

@media (max-width: 768px) {
  .borda {
    border-left: none;
  }

  .img-logo {
    left: 0px;
  }

  .menu > li > button > img {
    width: 100px;
    height: 100px;
  }

  .menu > li > a {
    margin: 5px 5px 5px 5px;
    position: relative;
    left: 40%;
    width: 150px;
    text-align: center;
  }

  .dropdown {
    margin-left: 50%;
  }

  .dropdown-item {
    text-align: center;
    margin-left: -40px;
  }

  .menu-rodape {
    margin-left: 0px;
  }

  .imagens-home {
    position: relative;
    left: -6%;
  }

  .slideshow-css {
    margin: 12%;
  }

  .divs-login-cad {
    margin-left: 0px;
  }

  .pesq {
    position: relative;
    left: 0px;
    top: 0px;
  }

  .pesq-cat {
    position: relative;
    top: 0px;
    margin-bottom: 10px;
  }

  .add {
    margin-left: 0px;
  }

  .produto {
    position: relative;
    top: 0px;
    margin-left: 0px;
    left: 0px;
  }

  .cate > h5 {
    position: relative;
    left: -10px;
  }

  .conversao > img {
    position: absolute;
    left: 86%;
  }

  .conversao-dupla > img {
    position: absolute;
    left: 74%;
  }

  .prod {
    width: 150px;
    height: 150px;
  }

  .produto {
    height: 150px;
  }

  .menu {
    position: relative;
    left: 0px;
  }

  .dados {
    margin-left: 0px;
  }

  .senha {
    margin-left: 0px;
    margin-top: 30px;
  }

  .imagem {
    margin-left: 0px;
    margin-top: 30px;
  }

  .form-img {
    position: relative;
    left: 0px;
  }

  .imagem > img {
    margin-left: 35%;
  }

  .botao-anuncio {
    position: fixed;
    left: 100%;
  }
}

/* ========================= DISPOSITIVOS 765PX ======================== */

@media (min-width: 765px) {
  .dropdown {
    margin-left: 70%;
  }
}

/* ========================= DISPOSITIVOS 1024PX ======================== */

@media (min-width: 1024px) {
  .img-logo {
    left: 135px;
  }
}

/* ========================= DISPOSITIVOS 320PX ======================== */

@media (max-width: 320px) {
  .dropdown {
    margin-left: 40%;
  }

  .dropdown-item {
    text-align: center;
    margin-left: -40px;
  }

  .destaque > img {
    position: relative;
    left: 5%;
  }

  .item-add {
    width: 90px;
    height: 90px;
  }
}

/* ========================= DISPOSITIVOS 360PX ======================== */

@media (max-width: 360px) {
  .dropdown {
    margin-left: 40%;
  }

  .dropdown-item {
    text-align: center;
    margin-left: -40px;
  }
}

/* ========================= DISPOSITIVOS 375PX ======================== */

@media (max-width: 375px) {
  .dropdown {
    margin-left: 45%;
  }

  .dropdown-item {
    text-align: center;
    margin-left: -40px;
  }

  .item-add {
    width: 100px;
    height: 100px;
    margin: 15px 20px 15px 30px;
  }
}
