/* --  Formatar Body -- */
html, body {
  height: 100%;
}

body {
  font-family: Helvetica,Arial,sans-serif;
  font-weight: bold;
  overflow-x: hidden;
}

/* -- Barra de navegação -- */
.img-logo {
  height: 50px;
  width: 180px;
  margin-top: 7px;
  display: block;
  background: url("../imagens/logo.png") no-repeat;
  background-size: contain;
  color: transparent;
  position: relative;
  left: 150px;
}

nav.navbar-transparente {
  padding: 15px 0px;
  background: rgb(157, 15, 14);
  border: none;
  border-radius: 0px;
}

.navbar-brand {
  padding: 10px 15px;
}

.navbar-inverse .navbar-nav > li > a, footer .nav a {
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover, footer .nav a:hover {
  background: rgb(157, 15, 14);
}

.btn-menu-destaque {
  background: white;
  color: rgb(157, 15, 14);
  padding: 10px;
}

/* -- Navbar User -- */

.fotoPerfil {
  width: 75px;
  height: 75px;
  border-radius: 50px;
  border: solid 3px #ececec;
  margin-top: -10px;
  margin-bottom: -10px;
}

.dropdown-menu > a {
  display: block;
  padding: 5px 10px 5px 10px;
  color: #fff;
}

.dropdown-menu {
  background: rgb(157, 15, 14);
}

.drop {
  margin-bottom: 5px;
  background: rgb(157, 15, 14);
  border-color: rgb(157, 15, 14);
}

.color-glyphicon {
  color: #fff;
}

.menu {
  position: relative;
  left: -100px;
}

.botao-anuncio {
  position: fixed;
  left: 95%;
  top: 500px;
  width: 40px;
}

.botao-modal {
  background: rgb(157, 15, 14);
  border-color: rgb(157, 15, 14);
  color: #fff;
}

.botao-modal:hover {
  background: rgb(157, 15, 14);
  border-color: rgb(157, 15, 14);
  color: #fff;
}

.modal {
  color: #726f6f;
}

/* -- Rodapé -- */

footer {
  background: rgb(157, 15, 14);
  padding: 25px 0px 45px 0px;
  position: relative;
  margin-top: 43px;
}

.item-rede-social {
  float: left;
}

#rodape h4 {
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  padding-bottom: 0px;
}

footer .nav a {
  color: #fff;
  font-size: 10px;
  font-weight: 800;
  padding-left: 15px;
  padding-bottom: 0px;
}

.menu-rodape {
  margin-left: 150px;
}

.icone-rede {
  font-size: 25px;
}

/* -- Full Banner -- */

.imagem-home {
  position: relative;
  top: -20px;
}

/* -- FORMULARIO DE LOGIN E CADASTRO -- */

.divs-login-cad {
  color: rgb(129, 129, 129);
  text-align: center;
  padding-top: 50px;
  margin-left: 20%;
}

.divs-login-cad p {
  text-align: justify;
}

.divs-login-cad input {
  margin-top: 20px;
}

.borda {
  border-left: solid 2px black;
}

.botao {
  background: rgb(157, 15, 14);
  border-color: rgb(157, 15, 14);
  padding: 0px 20px 0px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.botao:hover {
  background: rgb(157, 15, 14);
  border-color: rgb(157, 15, 14);
  padding: 0px 20px 0px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.title {
  color: rgb(129, 129, 129);
  text-align: center;
}

.termos {
  text-align: justify;
}

/* ========================= Tipografia ======================== */

h2 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.04em;
}

/* ========================= Imagens Categoria ======================== */

.divs-home {
  text-align: center;
  color: rgb(129, 129, 129);
}

.imagens-home {
  padding: 20px;
}

#categoria1 {
  width: 127px;
  height: 127px;
  margin: 33px;
  background-image: url("../imagens/hot/tv.png");
}

#categoria2 {
  width: 127px;
  height: 127px;
  margin: 33px;
  background-image: url("../imagens/hot/cabide.png");
}

#categoria3 {
  width: 127px;
  height: 127px;
  margin: 33px;
  background-image: url("../imagens/hot/camera.png");
}

#categoria4 {
  width: 127px;
  height: 127px;
  margin: 33px;
  background-image: url("../imagens/hot/sofa.png");
}

#categoria5 {
  width: 127px;
  height: 127px;
  margin: 33px;
  background-image: url("../imagens/hot/maquina.png");
}

#categoria1:hover {
  background-image: url("../imagens/hot/tv-ho.png");
}

#categoria2:hover {
  background-image: url("../imagens/hot/cabide-ho.png");
}

#categoria3:hover {
  background-image: url("../imagens/hot/camera-ho.png");
}

#categoria4:hover {
  background-image: url("../imagens/hot/sofa-ho.png");
}

#categoria5:hover {
  background-image: url("../imagens/hot/maquina-ho.png");
}

#topSearch {
  list-style: none;
}

#topSearch li {
  display: inline-block;
  vertical-align: middle;
}

.icone-cat {
  border: 1px;
  border-radius: 360px;
}

/* ========================= Produtos Destaque ======================== */

.produtos {
  background: #fff;
  box-shadow: 0px 0px 30px grey;
  margin: 20px;
  width: 100px;
  height: 100px;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
}

.produtos img {
  width: 100%;
  height: 170px;
}

.f3 {
  color: #9d0f0f;
  margin-bottom: -8px;
  margin-left: -2px;
  margin-right: -5px;
  margin-top: 5px;
  font-weight: 800;
}

.slideshow-css {
  width: 90%;
  margin: 0 auto;
}

/* ========================= Produtos ======================== */

.add {
  border: solid 2px #ececec;
  padding-left: 25px;
  margin-left: 70px;
}

.add > h4 {
  text-align: center;
  color: rgb(129, 129, 129);
  font-weight: 800;
}

.item-add {
  width: 140px;
  height: 140px;
  background: #ececec;
  margin: 15px 20px 15px 20px;
  float: left;
}

.produto {
  height: 200px;
  color: rgb(129, 129, 129);
  border-bottom: solid 2px #ececec;
  position: relative;
  top: -240px;
  left: 70px;
  margin-bottom: 10px;
  padding: 0px;
}

.produto-user {
  height: 200px;
  color: rgb(129, 129, 129);
  border-bottom: solid 2px #ececec;
  margin-left: 85px;
  margin-bottom: 10px;
  padding: 0px;
}

.prod-user > h2 {
  color: rgb(129, 129, 129);
  text-align: center;
  margin-bottom: 50px;
}

.prod {
  width: 200px;
  height: 200px;
  background: #ececec;
  float: left;
}

.cate > h4 {
  display: inline-block;
  margin-left: 10px;
  font-weight: 800;
}

.cate > h5 {
  float: right;
}

.cate {
  border-bottom: solid 2px #ececec;
  height: 30px;
  font-weight: 800;
}

.preco > h3 {
  display: inline-block;
  margin: 0px 00px 0px 10px;
  color: #9d0f0f;
  font-weight: 800;
}

.preco > h5 {
  display: inline-block;
  margin: 0px 00px 0px 10px;
}

.conversao > img {
  width: 35px;
  position: absolute;
  bottom: 5px;
  left: 95%;
}

.conversao-dupla > img {
  width: 80px;
  position: absolute;
  bottom: 5px;
  left: 89%;
}

/* ========================= Filtro ======================== */

.filtro {
  display: inline-block;
}

.pesq {
  margin-bottom: 10px;
  margin-left: 0px;
  float: right;
  position: relative;
  left: 10px;
  top: -175px;
}

.pesq-cat {
  height: 100%;
  border: solid 2px #ececec;
  float: right;
  position: relative;
  top: -175px;
}

.pesq-cat > h4 {
  text-align: center;
  font-weight: 800;
  color: #726f6f;
  font-size: 16px;
}

.pesq-cat > img {
  width: 60px;
  margin-left: 22.5px;
  margin-bottom: 10px;
  background: #ececec;
  border-radius: 50px;
}

/* ========================= Perfil ======================== */

.dados {
  color: #726f6f;
  margin-left: 80px;
}

.dados > h4 {
  color: #9d0f0f;
}

.dados > h3 {
  color: #9d0f0f;
  text-align: center;
}

.f-inp {
  padding-left: 0px;
}

.f-inp-comp {
  padding-right: 0px;
}

.senha {
  border: solid 2px #ececec;
  color: #726f6f;
  margin-left: 50px;
  margin-top: 20px;
}

.senha > h4, .senha > h5 {
  text-align: center;
  color: #9d0f0f;
}

.imagem > img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: solid 3px #ececec;
  float: left;
}

.imagem {
  border: solid 2px #ececec;
  margin-left: 50px;
  margin-top: 200px;
  height: 100%;
  padding-right: 0px;
}

.imagem > h4 {
  color: #9d0f0f;
  text-align: center;
}

.form-img {
  margin-top: 30px;
  position: relative;
  left: 20px;
  color: #726f6f;
}

/* ========================= Cadastro de Produtos ======================== */

.file input {
  display: none;
}

.file label img {
  background-color: #ececec;
  width: 120px;
  height: 100px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 6px 10px;
}

.file label img:hover {
  background-color: #726f6f;
}

.warning label {
  border: solid 2px #9d0f0f;
  background: #9d0f0f;
  color: #fff;
  padding: 10px 20px;
  margin-left: 18%;
  border-radius: 5px;
}

/* ========================= View Produto ======================== */

.slider-css img {
  height: 500px;
}

.slider-nav-css {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  float: left;
}

.slider-nav-css img {
  height: 100px;
  width: 100px;
}

.inf {
  background: rgb(186, 182, 181);
  height: 632px;
  margin-top: 35px;
  position: relative;
  left: 10px;
  padding: 0px;
  width: 380px;
}

.comentario {
  background: rgb(186, 182, 181);
  height: 632px;
  padding: 0px;
  width: 710px;
  position: relative;
  left: 35px;
}

.comentario h1 {
  text-align: center;
  color: #fff;
  margin: 10px 30px 10px 30px;
  padding-bottom: 20px;
  border-bottom: #ececec solid 2px;
}

.comentario h4 {
  text-align: justify;
  color: #fff;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: #ececec solid 2px;
}

.comentario h3 {
  text-align: justify;
  color: #fff;
  margin-left: 30px;
}

.comentar {
  background: rgb(186, 182, 181);
  height: 632px;
  position: relative;
  left: 95px;
  width: 380px;
}

.comentar h3 {
  text-align: center;
  margin: 30px;
  color: #fff;
}

.titulo-view h2 {
  position: relative;
  left: 15px;
}

.titulo-view h5 {
  position: relative;
  left: 22px;
}

.ceta {
  background: #9d0f0f;
  height: 84px;
  line-height: 66px;
  width: 360px;
  border-radius: 5px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  position: relative;
  z-index: 2;
  left: 30px;
  top: 6px;
  font-size: 30px;
  padding-top: 9px;
  color: #fff;
}

.ponta-ceta {
  content: '';
  display: inline-block;
  width: 67.2px;
  height: 67.2px;
  background: #9d0f0f;
  transform: rotate(41deg);
  border-radius: 5px;
  border-bottom-left-radius: 4px;
  float: left;
  top: 15px;
  position: relative;
}

.col-ceta {
  float: right;
}

.informacao {
  margin: 30px;
  float: left;
  color: #fff;
}

.val-info {
  margin: 30px;
  float: right;
}

.descricao h4 {
  text-align: center;
  color: #fff;
}

.descricao h5 {
  text-align: justify;
  margin: 30px;
}
