/* Margins */

.mt-1 {
  margin-top: 15px;
}

.mt-2 {
  margin-top: 25px;
}

.mt-3 {
  margin-top: 40px;
}

.mt-4 {
  margin-top: 60px;
}

.mb-1 {
  margin-bottom: 15px;
}

.mb-2 {
  margin-bottom: 25px;
}

.mb-3 {
  margin-bottom: 40px;
}

.mb-4 {
  margin-bottom: 60px;
}
